<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Avail : Dell Lookup</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- <link rel="manifest" href="./static/manifest.json"> -->
    <!-- Old school standard favicon -->
    <!-- <link rel="icon" type="image/x-icon" href="file:///C:/Users/randy/OneDrive/WebApps/puppeteer/favicon.ico" /> -->
    <link rel="icon" type="image/x-icon" href="https://equipment-log-fb.firebaseapp.com/static/favicon.ico" />
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
      
    <style>
    </style>
  </head>
  <body>
    <div id="app">

      <section class="section">
        <div class="container">
          <h1 class="title">
            Retrieve Dell Service Tag Data
          </h1>
          <p class="subtitle">
            Enter list of Dell Service Tags then click <strong>Retrieve</strong>
          </p>

          <div class="field">
            <div class="control">
              <textarea class="textarea" type="text" @change="parseTags" v-model="itemTags" placeholder="add one or more service tags, each on its own line" rows="12"></textarea>
            </div>
          </div>
          <br>
          <button class="button is-link" v-bind:class="{ 'is-loading': isLoading}" @click="appProcessServiceTags">Retrieve</button>  
        </div>
      </section>
      <br>
      <!--<pre>{{$data}}</pre> -->
    </div>

    <script>
      /* Root Instance */
      var app = new Vue({
        el: '#app',
        data: {
          processing: false,
          itemTags: '',
          serviceTags: [],
          serviceTagsTrimmed: [],
          isLoading: false
        },

        mounted () {
          console.log('Vue root instance mounted')
        },

        methods: {
          cloneObj(obj) { // from https://stackoverflow.com/a/728400 (does not handle dates or circular references)
            if(obj == null || typeof(obj) != 'object') return obj  
            let temp = new obj.constructor() 
            for(var key in obj) {
              temp[key] = this.cloneObj(obj[key])
            }
            return temp
          },

          //appMsg () {
          //  window.appMsg('Button clicked on index.html') // puppeteer exposed function
          //},
          parseTags () {
            this.serviceTags = this.itemTags.match(/.+/g) // . matches everything except end of line terminator, works well
            // this.serviceTags = this.itemTags.match(/[^\n]/g) // match everything that is not explicity EOL (might work, not tested)
            this.serviceTagsTrimmed = this.serviceTags.map(str => str.trim())
          },

          appProcessServiceTags () {
            //window.appMsg('Retrieve button clicked')
            this.isLoading = true
            window.appProcessServiceTags(this.serviceTagsTrimmed)  // puppeteer exposed function
          }
        },

        computed: {
        },
      })
    </script>
  </body>
</html>